{{define "subject"}}【読書記録アプリ】仮登録完了のお知らせ{{end}}

{{define "plainBody"}}
この度は読書記録アプリにご登録いただきありがとうございます。

現在はまだ仮登録の状態です。
本登録を完了するために、 https://reading-record-client.vercel.app/activation にアクセスし、下記のトークン文字列を入力欄に入力いただいた上で、リンク先下部の送信ボタンを押下してください。

{{.activationToken}}

上記操作の有効期限は24時間です。

読書記録アプリ 開発チーム
{{end}}

{{define "htmlBody"}}
<!doctype html>
<html>
<head>
  <meta name="viewport" content="width=device-width" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
  <p>この度は読書記録アプリにご登録いただきありがとうございます。</p>
  <p>現在はまだ仮登録の状態です。</p>
  <p>本登録を完了するために、<a href='https://reading-record-client.vercel.app/activation'>こちら<a/>のリンクにアクセスし、下記のトークン文字列を入力欄に入力いただいた上で、リンク先下部の送信ボタンを押下してください。</p>
  <pre><code>
  {{.activationToken}}
  </code></pre>
  <p>上記操作の有効期限は24時間です。</p>
  <p>読書記録アプリ 開発チーム</p>
</body>

</html>
{{end}}
